* {
    margin: 0 auto;
    font-family: Cambria, sans-serif;
    overflow-x: hidden;
}
html, body {
    height: 100%;
    min-height: 100%;
}
header {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: black;
    display: inline-block;
    z-index: 2;
}
#heading {
    position: relative;
    left: 10px;
}
#heading, nav, nav p {
    display: inline-block;
}
nav {
    float: right;
    width: 40%;
    position: relative;
    top: 15px;
}
nav p {
    color:white;
    padding: 5px;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.droid {
    font-family: "Droid Serif", sans-serif;
}
.courier {
    font-family: Courier, sans-serif;
}
.white {
    color:white;
}
.oranges:hover {
    color: darkorange;
}
.upsize:hover {
    font-size: 105%;
}
.orange:hover {
    text-shadow: 2px 2px 1px darkorange;
}
footer {
    font-size: 12px;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 3;
    border-top: 2px solid darkslategrey;
}
#left {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
}
#right{
    display: inline-block;
    text-align: right;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    float: right;
    bottom:0;
}
#left p{
    padding-left: 5px;
}
#right p{
    padding-right: 5px;
}