#title {
    position: relative;
    background-color: darkslategrey;
    height: 50px;
    margin-top: 82.4px;
    overflow: hidden;
}
#placeholder {
    background-color: black;
    padding: 0;
    width: 25%;
    height: calc(100% - 3px);
}
#title h1 {
    padding: 2px 0 0 0;
}
#sticky {
    position: sticky;
    top: 82.4px;
    height: 3px;
    padding:0;
    margin: 0;
    background-color: darkslategrey;
    z-index: 1;
}
.middle {
    text-align: center;
    padding: 5px;
}
.right {
    text-align: left;
    position: relative;
    border: 2px solid white;
    height:  80%;
    width: 20%;
    left: 400px;
    top: 25px;
    padding: 5px;
}
.left {
    text-align: left;
    position: relative;
    border: 2px solid white;
    height: 80%;
    width: 20%;
    left: 300px;
    top: 25px;
    padding: 5px;
}
h2, p {
    display: inline-block;
    clear:both;
}
#one{
    background-color: black;
    height: 250px;
}
#two{
    background-color: #190a00;
    height: 250px;
}
#three{
    background-color: #4f3a12;
    height: 250px;
}
#four{
    background-color: #273709;
    height: 250px;
}
#five{
    background-color: #002631;
    height: 250px;
}
#six {
    background-color: #310030;
    height: 250px;
}
#seven {
    background-color: #310019;
    height: 250px;
}
#eight {
    background-color: #4e4c4d;
    height: 250px;
}
#nine {
    background-color: #3c3a3b;
    height: 250px;
}
#ten {
    background-color: #292728;
    height: 250px;
}
#last {
    background-color: #292728;
    height: 20px;
}
.right_img {
    display: inline-block;
    height: 80%;
    width: 10%;
    border: 2px solid white;
    position: relative;
    float: right;
    right: 350px;
    top: 25px;
}
.left_img {
    display: inline-block;
    height: 80%;
    width: 10%;
    border: 2px solid white;
    position: relative;
    float: left;
    left: 350px;
    top: 25px;
}
#shine {
    background: url("../media/cocktail_recipes/shine.png");
    background-size: cover;
    background-position-y: center;
}
#Irish {
    background: url("../media/cocktail_recipes/irish.png");
    background-size: cover;
    background-position-y: center;
}
#mash {
    background: url("../media/cocktail_recipes/mash.png");
    background-size: cover;
    background-position-y: center;
}
#blossom{
    background: url("../media/cocktail_recipes/blossom.png");
    background-size: cover;
    background-position-y: center;
}
#davy {
    background: url("../media/cocktail_recipes/davy.png");
    background-size: cover;
    background-position-y: center;
}
#pink {
    background: url("../media/cocktail_recipes/pink.png");
    background-size: cover;
    background-position-y: center;
}
#tete {
    background: url("../media/cocktail_recipes/tete.png");
    background-size: cover;
    background-position-y: center;
}
#spirit {
    background: url("../media/cocktail_recipes/spirit.png");
    background-size: cover;
    background-position-y: center;
}
#disappointment{
    background: url("../media/cocktail_recipes/disappointment.png");
    background-size: cover;
    background-position-y: center;
}
#bad {
    background: url("../media/cocktail_recipes/advice.png");
    background-size: cover;
    background-position-y: center;
}
strong{
    display: block;
    text-align: center;
    font-size: 150%;
    font-family: "Brush Script MT", cursive;
}